@{
    ViewData["Title"] = "About";
}

<div class="shadow p-3 mb-5 rounded">
    <h1>@ViewData["Title"]</h1>

    <p>Stock portfolio web application built using C# and ASP.NET Core. <hr />
    Created by Chris Zimmerman, recent Computer Information Systems graduate from
    Buffalo State College.</p>
</div>